.padding-section {
  padding: 1rem 5rem 1rem;
}

.primary-section {
  background-color: var(--primary-color-green);
}

.row-align {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.primary-button {
  background-color: var(--primary-color-yellow);
  border-style: none;
  border-radius: 16px;
  padding: 0.5rem 1rem 0.5rem;
}

.no-margin {
  margin: 0;
  line-height: 1;
}

.yellow-text {
  color: var(--primary-color-yellow);
}

.green-text {
  color: var(--primary-color-green);
}

.white-text {
  color: var(--secondary-color-neutral);
}

.card-background{
  background-color: rgb(255, 255, 255, 0.3);
}
