@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap");

:root {
  --primary-color-green: #495e57;
  --primary-color-yellow: #f4ce14;
  --secondary-color-orange: #ee9972;
  --secondary-color-light-orange: #fbdabb;
  --secondary-color-neutral: #edefee;
  --secondary-color-text: #333333;
}

body, div {
  margin: 0;
  font-family: "Karla", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--secondary-color-text)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
}

/* Title and subtitles */

h1 {
  font-size: 64px;
  font-family: "Markazi Text", serif;
  font-weight: 500;
}

h2 {
  font-size: 40px;
  font-family: "Markazi Text", serif;
  font-weight: 500;
}

h3 {
  font-size: 20px;
  font-weight: 900;
  font-family: "Karla", serif;
}

h4 {
  font-size: 18px;
  font-family: "Karla", serif;
  font-weight: 400;
}

p {
  font-family: "Karla", serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.5rem;
}

a{
  text-decoration: none;
  color: var(--secondary-color-text);
}

button{
  font-family: "Markazi Text", serif;
  font-weight: 500;
  font-size: 18px;
}
